{% extends 'layout.html' %}

{% block body %}
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">About this website</h3>
                <p class="card-text">This website lets you into a world of opportunities and lets you into the python community</p>
                <a href="#" class="btn btn-primary">Welcome</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">About You</h3>
                <p class="card-text">With your supporting you can also contribute to this website by going to the below link and add website courses</p>
                <a href="/courses" class="btn btn-primary">Contribute</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}