{% extends 'layout.html' %}

{% block body %}


{% from "includes/_formhelper.html" import render_field %}
<form method='POST' action="">
<p class="h4 text-center mb-4">Sign up</p>

<div class="md-form">
<i class="fa fa-user prefix grey-text"></i>
{{render_field(form.username, class_= "form-control")}}
</div>
<br>
<div class="md-form">
<i class="fa fa-envelope prefix grey-text"></i>
{{render_field(form.email, class_= "form-control")}}
</div>
<br>
<div class="md-form">
<i class="fa fa-lock prefix grey-text"></i>
{{render_field(form.password, class_= "form-control")}}
</div>
<br>
<div class="md-form">
<i class="fa fa-exclamation-triangle prefix grey-text"></i>
{{render_field(form.confirm, class_= "form-control")}}
</div>
<div class="text-center py-4 mt-3">
<p><input type="submit" class= "btn btn-primary" value ="Submit"></p>
</div>
</form>

{% endblock %}